<footer>
	<span>-> Made with </span>
	<span style="color:red">&hearts;</span>
	<span> By {{site.title}} <-</span><br>
	<small>Today's Date: {{site.time | date:"%b %d, %Y"}}</small>
</footer>

<small><script type="text/javascript"> //检测浏览器
//var varsion=pareseFloat(navigator.appVersion)
document.write("Visitor's System: "+navigator.platform+"-"+navigator.appName+"-"+navigator.appCodeName)
</script></small>

<!--网页计数器-->
<div align='center'><a href='http://www.free-website-hit-counter.com'><img src='http://www.free-website-hit-counter.com/c.php?d=9&id=92417&s=40' border='0' title='free website hit counter'></a></div>