<footer id="footer">
	<span>-> Made with </span>
	<span style="color:red">&hearts;</span>
	<span> By {{site.title}} <-</span><br>
	
</footer>

<small><script type="text/javascript"> //检测浏览器
//var varsion=pareseFloat(navigator.appVersion)
document.write("Visitor's System: "+navigator.platform+"-"+navigator.appName+"-"+navigator.appCodeName)
</script></small>

<!--网页计数器-->
<a href="http://www.reliablecounter.com" target="_blank"><img src="http://www.reliablecounter.com/count.php?page=rabbits.github.io&digit=style/plain/34/&reloads=1" alt="" title="" border="0"></a><br /><a href="http://www.fabbly.com" target="_blank" style="font-family: Geneva, Arial; font-size: 9px; color: #330010; text-decoration: none;">Download 3d STL files</a>

<script> //google ananlytic
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-91856409-1', 'auto');
  ga('send', 'pageview');

</script>