<header id="header" style="background:#fa5c5c;height:80px">
	<a id="Goto1"></a><!--锚定点-->
	<div><a href="{{site.url}}" ><h1 style="position:relative;padding-top:20px;color:white">{{site.title}} &#9731;</h1></a></div>
	<div id="nav" style="position:absolute;width:100%;top:80px;background:#f1f1f1;color:red;border-bottom:1px solid #d3d1d3">
	<a style="color:red" href="{{site.url}}">Blog</a>
	|
	<a style="color:red" href="{{site.url}}/archive.html">Archive</a>
	|
	<a style="color:red" href="{{site.url}}/about.html" onclick="disp_alert()">About</a>
	|
	<a style="color:red" href="{{site.url}}/contact.html">Contact</a>
	</div>

	<div id="buttonTop" style="position:fixed;bottom:5%;right:5%;width:50px;height:50px;display:none"> <!--回到顶上的小圆点按钮-->
		<button onclick="location.href='#Goto1'" style="opacity:0.4;width:100%;height:100%;border-radius:25px;background:yellow;color:white;border:1px solid red;text-align:center">&#8679;</button>
	</div>

<script type="text/javascript">
function disp_alert() //弹出消息，onclick＝“disp_alert()”调用
{
alert("Currently Under Construction");
}
</script>


<script type="text/javascript"> //使得nav保持在屏幕上侧, 初始化top 80px
	function navPosition() {
		if(document.body.scrollTop>80){
			document.getElementById("nav").style.position="fixed";
			document.getElementById("nav").style.top="0px";
			document.getElementById("buttonTop").style.display="inline";
		} else {
			document.getElementById("nav").style.position="absolute";
			document.getElementById("nav").style.top="80px";
			document.getElementById("buttonTop").style.display="none";
		}
	}
	//setInterval(navPosition,10);
</script>

  <script type="text/javascript"> //淡入淡出效果
  	function t(){alert("hi~header is loader");}
  	function fadeIn(){
  		for(var i=0;i<100;i++){
  			document.getElementById("header").style.opacity=i/100;
  			//setTimeout(document.getElementById("header").style.opacity=i/100,10);
  			//t();
  		}
  	}
	// window.onload=function(){
	// 	//fadeIn();
	// }
	window.onresize(fadeIn());
  </script>

<script type="text/javascript"> //控制下方回到顶部的小圆点
	window.onscroll=function(){
		navPosition();
	}
</script>


</header>