<header style="background:#e25362">
	<div><a href="{{site.url}}" ><h1 style="position:relative;padding-top:20px;color:white">{{site.title}} &#9731;</h1></a></div>
	<div style="position:fixed;top:0px;background:#f1f1f1;color:red;border-bottom:1px solid #fccdcf">
	<a style="color:red" href="{{site.url}}">Blog</a>
	|
	<a style="color:red" href="{{site.url}}/archive.html">Archive</a>
	|
	<a style="color:red" href="{{site.url}}/about.html" onclick="disp_alert()">About</a>
	|
	<a style="color:red" href="{{site.url}}/contact.html">Contact</a>
	</div>


<script type="text/javascript">
function disp_alert() //弹出消息，onclick＝“disp_alert()”调用
{
alert("Currently Under Construction")
}
</script>

<script type="text/javascript"> //使得nav保持在屏幕上侧
	
</script>




</header>