<!DOCTYPE html>
<html>
	{% include head.html %}
<body>
	<div id="nav" style="text-align:center">
		{% include header.html %}
	<div>
	<br>
	<main>
		<article style="padding:12px;margin:12px;text-align:left;outline:white dotted">
			{{ content }}
		</article>
	</main>
	<br>
	<div style="text-align:center;background:#e25362;color:white">
	{% include footer.html %}
	<div>
</body>


<script type="text/javascript" src="js/jquery.min.js"></script>
<script type="text/javascript">
$(function () {
var	nav= $('#nav');
nav.attr('otop', dv.offset().top); //存储原来的距离顶部的距离
$(window).scroll(function () {
st = Math.max(document.body.scrollTop || document.documentElement.scrollTop);
if (st >= parseInt(nav.attr('otop'))) {
if (nav.css('position') != 'fixed') nav.css({ 'position': 'fixed', top:0});
}else if (nav.css('position') != 'static') nav.css({ 'position': 'static' });
});
});
</script>


</html>