<!DOCTYPE html>
<html>
	{% include head.html %}	
<body>
	<div style="text-align:center">
		{% include header.html %}
	<div>
	<br>
	<main>
		<article style="padding:12px;margin:12px;text-align:left;outline:white dotted">
			{{ content }}
		</article>
	</main>
	<br>
	<div style="text-align:center;background:#e25362;color:white">
	{% include footer.html %}
	<div>
</body>


<script type="text/javascript"> //导航固定代码
	function menuFixed(nav){ 
var obj = document.getElementById(id); 
var _getHeight = obj.offsetTop; 
window.onscroll = function(){ 
changePos(id,_getHeight); 
} 
} 
function changePos(nav,height){ 
var obj = document.getElementById(id); 
var scrollTop = document.documentElement.scrollTop || document.body.scrollTop; 
if(scrollTop < height){ 
obj.style.position = 'relative'; 
}else{ 
obj.style.position = 'fixed'; 
} 
} 
</script>

</html>
